*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}
.navbar {
  justify-content: flex-start;
  position: unset;
  padding: 0.5rem 1rem;
  background: white;
}
.navbar-brand {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 9.5rem !important;
}
.menu-link-wrapper {
  width: 45px;
  height: 45px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
}
.menu-link {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-trigger-open .fa-bars {
  display: none;
}
.menu-trigger-open .fa-times {
  display: block;
}
.fa-times {
  display: none;
}
a.nav-link {
  color: #000;
  padding: unset;
}
.sidebar-content {
  overflow-y: auto;
  max-height: calc(100vh - 150px);
}
.additional-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.4rem;
  font-size: 0.8rem;
  /* margin-bottom: 1rem; */
}
.additional-info .icon {
  margin-right: 0.5rem;
  width: 20px;
  height: 20px;
}
li.nav-item {
  padding: -1px;
}
i.fas.fa-chevron-down.show-more-icon{
  margin: 1rem !important;
}
i.fas.fa-chevron-up.show-more-icon{
  margin: 1rem !important;
}
.follow-us {
  position: unset !important;
  bottom: 1.2rem;
  left: 0;
  width: 100%;
  text-align: center;
  /* background: white; */
}
.follow-us-icons {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.follow-us-icons img {
  margin: 0 0.5rem;
  width: 22px;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}
.offcanvas-collapse.open + .menu-overlay {
  display: block;
}
.close-icon-wrapper {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  /* right: 1rem; */
  cursor: pointer;
  z-index: 1001;
}
.show-more-icon {
  margin-left: 0.5rem;
}
.footer-line {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* background-color: #f8f9fa; */
  padding: 10px 0;
  font-size: 0.9rem;
  /* border-top: 1px solid #dee2e6; */
}
/* ------------------------  first POPUP CODE START HERE ------------------------  */
.btn-open-unique-popup {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.unique-popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  padding: 20px;
  background-color: #1a1a1a;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 1000;
  background: url('../images/popup_background.png') no-repeat center center;
  background-size: cover;
}

.unique-popup-container.show {
  display: block;
}

.unique-overlay-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.unique-overlay-bg.show {
  display: block;
}

.unique-popup-header {
  text-align: center;
  margin-bottom: 20px;
}

.unique-tab-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.unique-tab-container button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.unique-tab-container button.active {
  border-bottom: 2px solid #007bff;
}

.unique-popup-content {
  text-align: center;
  margin-bottom: 20px;
}

.unique-popup-content p {
  margin-bottom: 10px;
}

.unique-popup-content input {
  margin-bottom: 10px;
}

.unique-action-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unique-action-btn-container button {
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
}

.btn-unique-github {
  background-color: #333;
}

.btn-unique-twitter {
  background-color: #1da1f2;
}

.unique-popup-content input[type="checkbox"] {
  margin-right: 10px;
}

.unique-popup-content a {
  color: #007bff;
  text-decoration: none;
}

.unique-img-astronaut {
  position: absolute;
  top: 20px;
  left: -60px;
  width: 80px;
  height: auto;
  transition: transform 0.3s ease;
}

.unique-img-astronaut:hover {
  transform: rotate(15deg);
}

.unique-icon-container {
  margin-right: 10px;
}

/* New style for top center icon */
.unique-top-center-icon {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.unique-top-center-icon img {
  width: 36px;
  height: 32px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .unique-popup-container {
      width: 80%;
      padding: 15px;
  }

  .unique-popup-header {
      font-size: 18px;
  }

  .unique-tab-container button {
      font-size: 14px;
  }

  .unique-popup-content p {
      font-size: 14px;
  }

  .unique-action-btn-container button {
      padding: 8px 15px;
      font-size: 14px;
  }

  .unique-img-astronaut {
      width: 60px;
      left: -50px;
  }

  .unique-top-center-icon {
      width: 60px;
      height: 60px;
  }

  .unique-top-center-icon img {
      width: 30px;
      height: 30px;
  }
}

@media (max-width: 480px) {
  .unique-popup-container {
      width: 90%;
      padding: 10px;
  }

  .unique-popup-header {
      font-size: 16px;
  }

  .unique-tab-container {
      flex-direction: column;
      align-items: center;
  }

  .unique-tab-container button {
      font-size: 12px;
      margin-bottom: 10px;
  }

  .unique-popup-content p {
      font-size: 12px;
  }

  .unique-action-btn-container button {
      padding: 6px 10px;
      font-size: 12px;
  }

  .unique-img-astronaut {
      width: 50px;
      left: -40px;
  }

  .unique-top-center-icon {
      width: 50px;
      height: 50px;
  }

  .unique-top-center-icon img {
      width: 25px;
      height: 25px;
  }
}

/* first popup END HERE  */

.buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Button to open the popup */
.open-popup-btn {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent; /* Transparent background */
  color: black; /* Black text color */
  border: 2px solid black; /* Black border */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  /* margin-right: 2rem; */
}

.open-popup-btn:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Light gray background on hover */
}

ul.navbar-nav.mt-4{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
}


/* ------------------------  sidebar and notificatiob icon and profile icon css ------------------------  */

.section {
  /* padding: 21px 0; */
}
.section:nth-child(odd) {
  /* background-color: #f8f9fa; */
}
.offcanvas-collapse {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 279px;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  background-color: #fff !important;
  transition: transform .3s ease-in-out;
  transform: translateX(-100%);
}
.offcanvas-collapse.open {
  transform: translateX(0);
  z-index: 999;
}
.search-container {
  margin-top: 2rem;
}
.center-image {
  max-width: 60rem;
  width: 1000px;
  height: auto;
}
.input-group-text {
  background-color: transparent;
  border: none;
  padding: 0;
}
.form-control {
  border-radius: 0;
}
.input-group-text i {
  font-size: 20px;
  margin-right: 0.5rem;
}
.close-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  color: #000;
}
.navbar-toggler:focus {
  outline: none;
}
.nav-item.hover-effect {
  background-color: #e9ecef;
  color: #000;
}
.navbar-icons {
  position: absolute;
  top: 18px;
  right: 19px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.navbar-icons .icon {
  margin-left: 15px;
  cursor: pointer;
}
.navbar-icons img {
  width: 22px; /* Adjust width as needed */
  height: auto;
}
.bell-icon img {
  width: 24px; /* Adjust width as needed */
  height: 24px; /* Adjust height as needed */
}
.user-icon img {
  width: 35px; /* Adjust width as needed */
  height: 36px; /* Adjust height as needed */
}
/* Media query for mobile devices */
@media (max-width: 767px) {
  /* Adjust icon sizes for mobile devices */
  .bell-icon img {
      width: 18px;
      height: 22px;
  }
  .user-icon img {
      width: 30px;
      height: 31px;
  }
}
.desktop-image {
  width: 148%;
  max-width: 800px;
  /* height: 152%; */
  margin-left: -9rem;
  margin-top: 2rem;
}
.icon {
  /* width: 22px; */
  height: auto;
}
.mr-2 {
  margin-right: 0.5rem;
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.ml-3 {
  margin-left: 1rem;
}




/* ------------------------  end notification and sidebar icon and profile icon css ------------------------  */

/* ------------------------  search css code start here------------------------   */
.search-container {
  margin: 20px auto;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
  padding: 0 10px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%; /* Change to 100% for responsiveness */
  max-width: 54rem;
}

img.send-search {
  width: 21px !important;
  height: 23px !important;
  margin: 0 5px;
  cursor: pointer;
}

.search-bar img {
  width: 17px;
  height: 16px;
  margin: 0 5px;
  cursor: pointer;
}

img.logo-search {
  width: 22px;
  height: 27px;
  margin: 0 5px;
  cursor: pointer;
}

#searchInput {
  padding: 1px;
  width: 100%;
  border: none;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  flex-grow: 1;
  resize: none;
  height: auto;
  line-height: 1.5;
  border-radius: 15px;
  transition: height 0.2s;
}

#sendIcon {
  display: none;
}

img.mic-search,
img.send-search {
  position: absolute;
  bottom: 24px;
  cursor: pointer;
}

img.mic-search {
  right: 40px;
  width: 13px;
  height: 18px;
}

img.send-search {
  right: 10px;
  width: 17px;
  height: 16px;
}

.placeholder-text {
  position: absolute;
  left: 45px;
  pointer-events: none;
  color: #aaa;
}

/* Mobile Responsive Adjustments */
@media (max-width: 600px) {
  .search-container {
    margin-right: 0 !important;
  }

  .search-bar {
    padding: 0 5px;
  }

  img.send-search,
  img.mic-search {
    /* bottom: 8px; */
  }

  img.mic-search {
    right: 35px;
  }

  img.send-search {
    right: 5px;
  }

  .placeholder-text {
    left: 35px;
    font-size: 14px;
  }

  #searchInput {
    font-size: 14px;
  }
}

/*------------------------  search bar css code end here ------------------------  */

/* ------------------------ login signup popup start here ------------------------  */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.overlay.show {
  display: block;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  color: #000;
  box-shadow: 0 5px 15px #000;
  border-radius: 28px;
  z-index: 1000;
  background-size: cover;
}

.popup.show {
  display: block;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-popup-btn {
  padding: 2px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  color: #000;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.open-popup-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.separator {
  height: 20px;
  border-left: 1px solid #000;
  margin: 0 10px;
}

/*------------------------  login and signup popup end here------------------------   */
/*------------------------  boyd page center text css start here------------------------   */
.main-span {
  text-align: center;
  width: 80%;
  margin: auto;
  justify-content: center;
  font-weight: bolder;
  line-height: 2.8rem;
  /* margin-top: 3rem; */
  /* margin-bottom: 6rem */
}

.red {
  color: red;
  font-size: 1.4rem;
}

.big {
  color: red;
  font-size: 25px;
}

.part3 {
  font-size: 18px;
  color: red;
}

.part4 {
  color: #07803D;
  font-size: 18px;
  margin-left: 1rem;
}

.part4_1 {
  color: #07803D;
  font-size: 28px;
  margin-left: 0.5rem;
}

.part5 {
  color: #733E17;
  font-size: 41px;
}

.part6 {
  color: #B3A925;
  font-size: 18px;
  margin-left: 1rem;
}

.part6 span {
  font-size: 37px;
}

.additional-text {
  font-size: 18px;
  color: #733E17;
}

.bedtime {
  font-size: 18px;
  margin-left: 1rem;
}

.sleep {
  font-size: 28px;
  color: #733E17;
}

.computer {
  color: red;
}

.depressed {
  color: #0E5FA2;
  margin-left: 1rem;
}

.suicidal {
  font-size: 28px;
  margin-left: 0.5rem;
}

.workout {
  color: #118644;
  font-size: 20px;
  margin-left: 0.5rem;
}

.biryani {
  color: #B3A925;
  margin-left: 0.6rem;
}

.biryani span {
  font-size: 28px;
}

.routing {
  color: #07803D;
  margin-left: 14rem;
}

.routing span {
  font-size: 28px;
}

.scratch {
  color: #B3A925;
  float: right;
  margin-right: 7.5rem;
}

.bottom-center {
  text-align: center;
  margin-top: 2rem;
}

.col-text2 {
  margin-top: -1.2rem;
}

.col-text3 {
  margin-top: -1rem;
}

.col-text4 {
  margin-top: -1rem;
}

@media (max-width: 768px) {
  .main-span {
    width: 90%;
  }

  .big {
    font-size: 20px;
  }

  .part3 {
    font-size: 16px;
  }

  .part4 {
    font-size: 18px;
  }

  .part4_1 {
    font-size: 24px;
  }

  .part5 {
    font-size: 35px;
  }

  .part6 {
    font-size: 16px;
  }

  .part6 span {
    font-size: 30px;
  }

  .additional-text {
    font-size: 16px;
  }

  .bedtime {
    font-size: 18px;
  }

  .sleep {
    font-size: 24px;
  }

  .suicidal {
    font-size: 24px;
  }

  .workout {
    font-size: 18px;
  }

  .biryani span {
    font-size: 24px;
  }

  .routing span {
    font-size: 24px;
  }

  .scratch {
    font-size: 18px;
    margin-right: 7.5rem;
  }
}

@media (max-width: 480px) {
  .main-span {
    width: 90%;
  }

  .big {
    font-size: 18px;
  }

  .part3 {
    font-size: 14px;
  }

  .part4 {
    font-size: 16px;
  }

  .part4_1 {
    font-size: 20px;
  }

  .part5 {
    font-size: 28px;
  }

  .part6 {
    font-size: 14px;
  }

  .part6 span {
    font-size: 26px;
  }

  .additional-text {
    font-size: 14px;
  }

  .bedtime {
    font-size: 16px;
  }

  .sleep {
    font-size: 22px;
  }

  .suicidal {
    font-size: 22px;
  }

  .workout {
    font-size: 16px;
  }

  .biryani span {
    font-size: 22px;
  }

  .routing span {
    font-size: 22px;
  }

  .scratch {
    font-size: 16px;
    margin-right: 7.5rem;
  }
}
.col-last-text {
  margin-top: -1rem;
}
/* ------------------------ body page cnter text css end here ------------------------  */
/* ------------------------ preloader code start here ------------------------ */


.preloader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  /* Change to your desired background color */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loader {
  position: relative;
  width: 64px;
  height: 64px;
}

.loader div {
  position: absolute;
  border: 4px solid #454ade;
  border-radius: 50%;
  animation: loader8435 1s ease-out infinite;
}

.loader div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes loader8435 {
  0% {
      top: 32px;
      left: 32px;
      width: 0;
      height: 0;
      opacity: 1;
  }

  100% {
      top: 0;
      left: 0;
      width: 64px;
      height: 64px;
      opacity: 0;
  }
}
/* ------------------------ preloader code end here ------------------------ */